.Typing-field{
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;

  &__btns{
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &--return{
      height: 40px;
      border: 1px solid black;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 5px;
      color: black;
      text-decoration: none;
    }
    &--end{
      height: 40px;
      border: 1px solid black;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 5px;
      color: black;
      text-decoration: none;
    }
  }

  &__word-box{
    width: 100vw;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &--name{
      font-size: 80px;
    }
    &--spell{
      font-size: 80px;
      color: grey;
    }
  }
}