.Typing-field
  .Typing-field__btns
    = link_to titles_path, class: "Typing-field__btns--return" do
      タイトルへ
    = link_to titles_path, class: "Typing-field__btns--end" do
      終了
  .Typing-field__word-box
    .Typing-field__word-box--name
      杏仁豆腐
    .Typing-field__word-box--spell
      annnindouhu
